{% extends 'base.html.twig' %}
    {#cette page hérite de base#}


{% block main %}
    {#    ce qui suit est assemblé avec base#}

{% for article in articles  %}
    {% if article.isPublished  %}

        <article>
            <h2>{{ article.title }}</h2>
            <p>{{ article.content }}</p>
{#            <p>posté le {{ article.publishedAt|date ('d-M-y') }}</p>#}
            <p>citation de {{ article.author }}</p>
            <a class="images" href="{{ path('admin-article',{'id':article.id}) }}"><img src="{{ article.image }}" alt="photo du film"></a>
            <a href="{{ path('admin-article',{'id':article.id}) }}">Voir l'article</a>
            <a href="{{ path('admin-delete-article',{'id':article.id}) }}">Supprimer l'article</a>
        </article>

    {% endif %}
{% endfor %}

{% endblock %}
{#    fin assemblage#}

