{% extends 'base.html.twig' %}

{% block main %}

    {% if articles.isPublished  %}

        <article>
            <h2>{{ articles.title }}</h2>
            <p>{{ articles.description }}</p>
            <p>posté le {{ articles.publishedAt|date ('d-M-y') }}</p>
            <p>citation de {{ articles.author }}</p>
            <img src="{{ articles.image }}" alt="photo du film">
        </article>

    {% endif %}


{% endblock %}